@import "../../UI/constant/vars.css";
.analytics {
  width: 100%;
  border-radius: 25px;
 height: 85%;
  overflow: auto;
  padding-right: 25px;
}
.analytics-container div {
  margin-top: 10px;

  background: white;

  padding: 25px;
  border-radius: 25px;
  padding-bottom: 10px;
}
.analytics-container div h1 {
  font-size: 1.5rem;
  color: var(--color-primary-font);
  margin-top: 0;
}

@media (max-width: 800px) {
  .analytics {
    height: 78%;
    padding: 0;
  }
  .analytics-container div {
  }
  .analytics-container div h1 {
    font-size: 1rem;
  }
}
