@import "../../UI/constant/vars.css";
.dashboardPost {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  border-bottom: 1px solid rgb(207, 199, 199);
  /* box-shadow: 0 0 10px black; */
  border-radius: 10px;
  padding-bottom: 8px;
}
.post-icon {
  background: #a5d7d3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-icon img {
  width: 30px;
}
.post-header h3 {
  color: var(--color-primary-font);
  font-weight: 500;
}
.post-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-date p {
  font-weight: 600;
}
.post-date span {
  font-size: 0.8rem;
}
.post-expand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-expand a {
  text-decoration: none;
  color: var(--color-primary);
}

@media (max-width: 460px) {
  .post-header h3 {
    font-size: 0.8rem;
  }
  .post-expand a {
    font-size: 0.7rem;
  }
  .post-date p {
    font-size: 0.5rem;
  }
  .post-date span {
    font-size: 0.4rem;
  }
  .post-icon {
    width: 40px;
    height: 40px;
  }
  .post-icon img {
    width: 20px;
  }
}
