.dashboard-posts {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20px;
  padding: 10px;
}
.dashboard-posts-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgb(109, 98, 98);
}

.dashboard-posts-header h3 {
  margin: 0;
  color: var(--color-primary-font);
}
.dashboard-posts-filter {
  cursor: pointer;
}
.dashboard-notices {
  height: 100%;
  padding-bottom: 1rem;
}

@media (max-width: 460px) {
  .dashboard-posts {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  .dashboard-notices {
    padding-bottom: 0;
  }
}
