.create-post {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 1000;
  animation: fadeIn 500ms;
}
.create-content {
  width: 100%;
  max-width: 552px;
  background-color: white;
  max-height: 90%;

  overflow: initial;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 32px;
  margin: 0 auto;
}
.content-header {
  display: block;
  padding: 16px 28px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-header button {
  height: 40px;
  width: 40px;
  border: none;
  min-width: auto;
  color: rgba(0, 0, 0, 0.15);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-header button img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.content-area {
  padding: 12px 24px;
}
.content-area textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
}
.content-area textarea,
input {
  width: 100;
  height: 35px;
  font-size: 1rem;
  margin-bottom: 20px;
}
.upload-image {
  text-align: center;
}
.upload-image img {
  width: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
