@import "../../UI/constant/vars.css";

.footer {
  font-family: var(--font-primary);
  height: 50vh;
  font-size: 1rem;
  bottom: 0;
  left: 0;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}
.footer-container {
  margin-top: 3rem;
  width: 85%;
  display: flex;
  justify-content: space-between;
  height: 60%;
}
.footer-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feedback-input {
  display: flex;
  height: 50px;
  margin-top: 2rem;
}
.feedback-input input {
  flex: 1;
  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgb(117, 106, 106);
  box-sizing: border-box;
  padding-left: 1rem;
  margin-bottom: 0;
  box-sizing: border-box;
  height: 100%;
}
.feedback-input input:focus {
  outline: none;
}
.feedback-send {
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
}
.feedback-send a {
  color: white;
  font-size: 1.2rem;
}
.address-header {
  display: flex;
  flex-direction: column;
  flex: 0.8;
}
.clg-address {
  margin-top: 1rem;
}
.admin-designation {
  margin-top: 1rem;
}
.feedback-request h3,
.clg-name,
.admin-name {
  margin-top: 0;
}
.footer-copyright-mobile {
  display: none;
}
.feedback-send a {
  text-decoration: none;
}
/* below 450px screen size */

@media (max-width: 460px) {
  .footer {
    height: fit-content;
    padding: 1rem;
    margin-top: 1rem;
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-address {
    align-items: center;
  }
  .footer-address h3 {
    text-align: center;
  }
  .clg-name {
    margin-bottom: 0;
  }
  .footer-address p {
    text-align: center;
    margin-top: 15px;
  }
  .footer-copyright {
    display: none;
  }

  .footer-admin {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .footer-feedback {
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer-copyright-mobile {
    display: block;
    margin-bottom: 1rem;
  }
}
